<header>
    <!-- navbar top -->
    <div class="nav-top navbar">
        <div class="logo"></div>
        <span class="icon-menu iconify" data-icon="charm:menu-hamburger" data-width="24"></span>
        <form class="nav-search d-flex">
            <div class="box-search">
                <span class="iconify" data-icon="akar-icons:search" data-width="18"></span>
                <input type="search" placeholder="Search">
            </div>
            <button class="button-search" type="submit">Search</button>
        </form>
        <div class="profile">
            <img src="img/profile.svg" alt="profile">
            <p>Unis Badri</p>
            <img class="dropdown" src="img/dropdown.svg" alt="dropdown">
        </div>
    </div>

    <!-- navbar side -->
    <div class="nav-side">
        <div class="nav-blue">
            <div class="square"></div>